extends layout

block content

 section.container
  // Jumbotron Header
  header.jumbotron.hero-spacer
    h1 API Calls
    p
      | API calls are very important if 3rd party applications want to intergrade your listing
      |This application have Two API calls and You need to get authentication details from Adminstrator to use it.
      |Please contact Administrator if you are new developer.
    p
      a.btn.btn-primary.btn-large(href='/api/business-records/') Get All Businesses
  hr
  