body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a.displayBlock{display:block!important;}

.navbar-brand>img{
	margin-top: -0.8em!important;
	width: 45px;
	height: 45px;
}
.block{
	display: block;
	font-weight: bold;
	color: white;
}
i.fa{
	padding:1%;
	color:#333;
	font-size:1em!important;
}
i.fa:hover{
	color:#333;
}
a{
	text-decoration: none!important;
}
@media all and (max-width:768px){
	.block{
		display: none!important;
	}
}